/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
webpack.mix.js
.idea/.gitignore
.idea/butwal-school.local.iml
.idea/dataSources/
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
package-lock.json
